@import "./Main.scss";

.current-weather {
    margin-top: 20px;
}

.current-time {
    text-align: center;
}

#label-temperature {
    font-size: 32px;
    font-weight: bold;
}

#label-temperature::after {
    content:"°C";
}

.flex-center {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.weather-icon {
    width: 150%;
    height: 150%;
    margin: 10px;
    padding: 5px;
    background-color: #d8c9da;
    border-bottom-left-radius: 50% 25%;
    border-bottom-right-radius: 50% 25%;
    border-top-left-radius: 50% 25%;
    border-top-right-radius: 50% 25%;
    cursor: pointer;

    &:hover {
        background-color: #c9b5cc;
        transition: 0.7s;;
    }
}

.label-description {
    font-size: 24px;
    font-weight: bold;
    padding-top: 0px;
    font-style: italic;
}

.city-label {
    font-size: 24px;
    font-weight: bold;
}

.humidity::after {
    content: "%";
}

.wind-speed::after {
    content: " km/h";
}

