@import "./Main.scss";

.current-weather {
    width: 250px;
    margin-top: 15px;
    border-radius: 20px;
    background-image: linear-gradient(180deg, #4dd0e1, #b2ebf2, #e0f7fa);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.current-time {
    text-align: center;
}

#label-temperature {
    font-size: 48px;
    font-weight: bold;
    color: #ffff9f;
}

#label-temperature::after {
    content:"°";
}

.flex-center {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.weather-icon {
    width: 150%;
    height: 150%;
    margin-top: 35px;
    padding: 5px;
    cursor: pointer;
}

.label-description {
    font-size: 18px;
    color: #ffff9f;
    font-weight: bold;
}

.city-label {
    font-size: 22px;
    color: #ffffff;
}

.humidity {
    font-style: italic;
}

.humidity::after {
    content: "%";
}

.wind-speed {
    font-style: italic;
}

.wind-speed::after {
    content: " km/h";
}

