// this is leaflet.css file
@import "../node_modules/leaflet/dist/leaflet";
@import "./Main.scss";

#map { 
    height: 500px;
    width: 900px;
    background:white;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #96fcfa;
}